
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #floating-panel {
        float: left;
        border-right: 3px solid #e9ecef;
        height: 100%;
      }
      #climate {
        color:#192B9D;

      }
      
      .sidebar-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        width: 220px;
      }
      .sidebar-nav li {
        display: inline-block;
        line-height: 30px;                
        position: relative;
        width: 100%;
        font-weight: 500;
        color: rgba(0,0,0,.65);
      }
      .sidebar-nav li:hover {
        color: rgba(29, 28, 28, 0.65);
        font-weight: 800;
        cursor: pointer;
      }